<body class="body-list">
    <div>
        <!-- Menu -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src='logo.png' widht=255 height=55 alt="Sistema de cadastro"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="http://localhost:8080/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Banco
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="http://localhost:8080/add-banco">Cadastrar Banco</a></li>
                            <li><a class="dropdown-item active" href="http://localhost:8080/list-banco">Listar Banco</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Próximo</a></li>
                        </ul>
                    </li>
                    <!--<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuario
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="http://localhost:8080/add-user">Cadastrar Banco</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/list-user">Listar Banco</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Próximo</a></li>
                        </ul>
                    </li>-->
                    <li class="nav-item">
                    <a class="nav-link disabled">Opções</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                </div>
            </div>
        </nav>
        <!-- Fim menu -->
    </div>
    <div class="text-white container">
        <h1 class="text-list text-center mt-3 mb-5">Listar Banco!</h1>

        <!-- imprimir as mensagens que estao na sessao -->
        {{>_msg}}

        <!-- Formulário listar banco -->
        {{#if bancos}}
            {{#each bancos}}
                <span class="list-db">ID:</span>  {{id}} <br>
                <span class="list-db">Código Banco:</span>  {{banco}} <br>
                <span class="list-db">Nome:</span>  {{name}} <br>
                <span class="list-db">Operador:</span>  {{operador}} <br>
                <span class="list-db">Tipo de Conta:</span>  {{tipo_conta_id}} <br>
                <a class="btn btn-danger pl-2 pr-2 pb-1 pt-1 mt-1 mb-2" href="/del-banco/{{id}}" onclick="return confirm('Tem certeza que deseja excluir o id: {{id}} - {{name}}?')">Apagar</a>

                <a class="btn btn-warning pl-2 pr-2 pb-1 pt-1 mt-1 mb-2" href="/edit-banco/{{id}}">Editar</a>

                <!--        
                <a class="btn btn-success pl-2 pr-2 pb-1 pt-1 mt-1 mb-2" href="/add-banco">Cadastrar</a>
                -->

                <a class="btn btn-primary pl-2 pr-2 pb-1 pt-1 mt-1 mb-2" href="/view-banco/{{id}}">Visualizar</a>
                <hr>
            {{/each}}
        {{else}}
            <p style="color:#f00;">Erro: Nenhum banco encontrado!</p>
        {{/if}}    
        <!-- Fim formulário listar banco -->
    </div>
</body>
